body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

table,
th,
tr,
td {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.7em;
}

hr {
    width: 100%;
}

#footer {
    font-family: monospace;
    position: relative;
    clear: both;
    bottom: 0;
}