* {
    box-sizing: border-box;
    margin: 0;
}
body {
  font-family: "Lucida Sans", Verdana, sans-serif;
  margin: 0 auto;
  position: absolute;
}
header {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  text-align: center;
}
h1 {
  text-shadow: 2px 2px darkorange;
}
table#productos {
    border: 1px solid black;
    border-collapse: collapse;
}
table#productos th, tr, td {
    border: 1px solid black;
    width: 200px;
}
table#productos th, td:first-child, td:nth-child(2) {
    background-color: lightgrey;
}
img {
    width: 100%;
}
container {
    text-align: center;

}
a {
    background-color: rgb(228, 228, 228);
    border: 1px solid black;
    border-radius: 2px;
    font-weight: lighter;
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}

