body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
#footer {
    margin-bottom: 0;
    font-family: monospace;
    position: fixed;
    text-align: center;
    width: 100%;
}