body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
#content table#tabla_multi tbody {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    padding: 1em;
}
#footer {
    font-family: monospace;
    position: absolute;
    bottom: 0;
}