body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2;
}
tr, td {
    text-align: center;
}
div#telefonillo {
    width: 25%;
    border: 1px solid black;
    font-weight: bold;
}
#footer {
    font-family: monospace;
    position: absolute;
    bottom: 0;
}