body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 50%;
    height: 50%;
    padding: 0;
    border-collapse: collapse;
}
tr, td {
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: green;   
}
td img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#footer {
    font-family: monospace;
    position: relative;
    bottom: 0;
}