body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table#pedidos {
  background-color: white;
  text-align: center;
}

#fieldset {
  text-align: left;
  width: 50%;
}
#footer {
  font-family: monospace;
  position: absolute;
  bottom: 0;
}
