body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    background-color: cornsilk;
}
table #espacio{
    border-style: hidden;
}
#footer {
    font-family: monospace;
    position: relative;
    bottom: 0;
}