body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
/* CENTRAR IMAGEN
img{
    display: block;
    margin: auto;
}*/
table {
    border-collapse: collapse;
    text-align: center;
    width: 150px;
    background-color: cornsilk;
}
table #espacio{
    border-style: hidden;
}
#sourcecode {
    position: absolute;
}
#footer {
    font-family: monospace;
    position: absolute;
    bottom: 0;
}