body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

form#loteria {
  background-color: khaki;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 30%;
}

input[type="number"] {
  margin: 5px;
  text-align: right;
  width: 50px;
}

input[type="text"] {
  margin: 5px;
}

table,
tr,
td {
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1em;
  text-align: center;
}

#footer {
  bottom: 0;
  font-family: monospace;
  position: fixed;
  text-align: center;
  width: 100%;
}
